<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wheelviz.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WHEELVIZ</name>
    <description>Visualizador de Rodas</description>
    <author email="contato@wheelviz.com">WHEELVIZ</author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="*"/>
    <allow-navigation href="*"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="android-minSdkVersion" value="22"/>
    <preference name="android-targetSdkVersion" value="34"/>
    <preference name="SplashScreenDelay" value="0"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="www/res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="www/res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="www/res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="www/res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="www/res/icon/android/xxxhdpi.png"/>
    </platform>
</widget>
